<%= form_for Thought.new, remote: true do |f|%>
    <%= f.text_field :thought, placeholder: ["I'm thinking...", "I don't want to forget...", "Er...", "I can't remember..."].sample %>
    <%= f.submit %>
<% end %>

<div id="thoughts">
  <% @thoughts.each do |t| %>
      <div class="thought" id="<%= t.id %>">
        <%=h t.thought %>
        <%= link_to 'Destroy', t, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class=>'delete_thought' %>
      </div>
  <% end %>
</div>
