<h1><%= params[:tag] %></h1>

<table class="table-striped" id="thoughts">
  <% @thoughts.each do |thought|%>
    <tr id=<%= thought.id %>>
      <td>
        <div class="thought_text">
          <%= raw thought.markdown%>
        </div>
        <%= link_to "D", "/thoughts/" + thought.id.to_s, method: :delete, class: "delete", data: {confirm: "Are you sure?"}%>
        <span class="date">
          <%= thought.created_at %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<% content_for :sidebar do %>
  <div id="tags"></div>
<% end %>

<script type="text/javascript">
//$(function() {
  populate_tags("#tags");
//})
</script>
