<%= form_for Thought.new, remote: true do |f|%>
  <div class="tags">
    <% @tags.each do |tag, weight| %>
      <a href="#" id="<%= tag %>"><%= tag %></a>
    <% end if @tags %>
  </div>
  <%= f.text_area :thought, placeholder: ["I'm thinking...", "I don't want to forget...", "Er...", "I can't remember..."].sample %>
  <br/>
  <%= f.submit %> <span class="errors"></span>
<% end %>

