<div>
<h1>Thoughts</h1>

<table class="table-striped" id="thoughts">
  <% @thoughts.each do |thought|%>
    <tr id=<%= thought.id %>>
      <td>
        <div class="thought_text">
          <%= raw thought.markdown%>
        </div>
        <%= link_to "D", "/thoughts/" + thought.id.to_s, method: :delete, class: "delete", data: {confirm: "Are you sure?"}%>
        <span class="date">
          <%= thought.created_at %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @thoughts %>

<% content_for :sidebar do %>
  <%= form_for @new_thought do |f| %>
    <%= f.text_area :body, rows: 8, cols: 20 %>
    <%= f.submit :submit, class: "btn primary"%>
  <% end %>
  <!-- asdfasdf -->
  <div id="tags"></div>
<% end %>

<script type="text/javascript">
  /*populate_table("#thoughts", '/thoughts.json', function() {
    enable_delete("#thoughts .delete")
  });*/

  populate_tags("#tags");
</script>
</div>
