<!DOCTYPE html>
<html>
<head>
  <title>Openthought</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 40px">
  <div class="container">

      <div class="row">
        <div class="col-md-2">
            <h2>
              <%= link_to "Openthought", "/", class: "navbar-brand"%>
            </h2>
            <% if user_signed_in? %>
              <%= link_to current_user.email, edit_user_registration_path, class: "btn" %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn"%>
          <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
            <%= link_to "Sign in", new_user_session_path, class: "btn" %>
          <% end %>
          <%= yield :sidebar %>
        </div>
        <div class="col-md-10">
          <% if notice %>
            <div class="alert-message success">
              <a class="close" href="#">×</a>
              <p class="notice"><%= notice %></p>
            </div>
          <% end %>
          <% if  alert %>
            <div class="alert-message warning">
              <a class="close" href="#">×</a>
              <p class="notice"><%= alert %></p>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    <footer>
      <p>
        <a href="http://ata.mit-license.org/">License</a>
        &nbsp;
        <a href="https://github.com/atamis/openthought">Github</a>
      </p>
    </footer>
  </div>
</body>
</html>
