<!DOCTYPE html>
<html>
<head>
  <title>Openthought</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 40px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><%= link_to "Openthought", "/" %></h3>
        <ul class="nav secondary-nav">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %> </li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span10">
          <% if notice %>
            <div class="alert-message success">
              <a class="close" href="#">×</a>
              <p class="notice"><%= notice %></p>
            </div>
          <% end %>
          <% if  alert %>
            <div class="alert-message warning">
              <a class="close" href="#">×</a>
              <p class="notice"><%= alert %></p>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span4">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
    <footer>
      <p>
        <a href="http://ata.mit-license.org/">License</a>
        &nbsp;
        <a href="https://github.com/atamis/openthought">Github</a>
      </p>
    </footer>
  </div>
</body>
</html>
