<!DOCTYPE html>
<html>
  <head>
    <title>Openthought</title>
      <!-- 1140px Grid styles for IE -->
      <!--[if lte IE 9]><link rel="stylesheet" href="stylesheets/ie.css" type="text/css" media="screen" /><![endif]-->
      <%= stylesheet_link_tag :all %>
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <div id="header" class="row">
        <div class="fourcol">
          <%= render :partial => "devise/menu/login_items" %>
          <%= render :partial => "devise/menu/registration_items" %>
        </div>
        <div class="fourcol">
          <div id="logo">
              <h1>OpenThought</h1>
          </div>
        </div>
        <div class="fourcol last" style="text-align: right;">
          <%= link_to "Home", '/' %><br />
          <%= link_to "About", '/about'%><br />
          <%= link_to 'API', '/api' %>
        </div>
      </div>

      <div  class="row">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
